<div class="header">


<ul class="nav nav-pills pull-right">
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Research
    	<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="{{ page.publications }}"><a href="/publications" title="Publications">Publications</a></li>
      <li class="{{ page.presentations }}"><a href="/presentations" title="Presentations">Presentations</a></li>
<!-- 
      <li class="{{ page.programing }}"><a href="/programing" title="Programing">Programing</a></li>
      <li class="{{ page.travel }}"><a href="/travel" title="Travel">Travel</a></li>
 -->

    </ul>
  	</li>
<!-- 
  	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Writing
    	<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="{{ page.blogging }}"><a href="/blogging" title="Blogging">Blogging</a></li>
      <li class="{{ page.presentations }}"><a href="/notes" title="Notes">Notes</a></li>
    </ul>
  	</li>
 -->
<!-- 
  	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Service
    	<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="{{ page.outreach }}"><a href="/outreach" title="Outreach">Outreach</a></li>
      <li class="{{ page.organizing }}"><a href="/organizing" title="Organizing">Organizing</a></li>
      <li class="{{ page.community }}"><a href="/community" title="Community">Community</a></li>
    </ul>
  	</li>
 -->
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Kit Newton</a></h3>
</div> <!-- /header -->